.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
  background-color: #201f1e;
}
.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px 50px;
  color: #585858;
  font-weight: 700;
}
.head-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.head-right>i{
  font-size: 30px;
  background: -webkit-linear-gradient(16deg, #3978e5, #88e8e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head-right>p{
  color: whitesmoke;
  cursor: pointer;
}
.main .nav img {
  width: 40px;
  border-radius: 50%;
}

.main-container {
  max-width: 900px;
  margin: auto;
}
.main .greet {
  margin: 50px 0px;
  font-size: 46px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}
.main .greet span {
  background: -webkit-linear-gradient(16deg, #3978e5, #88e8e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

.main .card {
  height: 200px;
  padding: 15px;
  background-color: #2f3031;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  transition: 0.1s linear all;
}

.main .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}

.main .card p {
  color: white;
  font-size: 17px;
}
.main .card:hover {
  background-color: #26262a;
}
.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #2e2f30;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 17px;
  color: whitesmoke;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.search-box > div > i {
  cursor: pointer;
}
.main .bottom-info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
  color: #f6f7f8;
}

.result {
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
}

.result::-webkit-scrollbar {
  display: none;
}

.result-title {
  margin: 40px 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  gap: 20px;
  font-weight: 500;
}

.result img {
  width: 40px;
  border-radius: 50%;
}

.result-data {
  display: flex;
  align-items: start;
  gap: 20px;
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #3b3d3d, #636161, #3b3d3d);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}

.result-data p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8;
  color: white;
}

@media (max-width: 600px) {
  .main-bottom input {
    flex: none;
    width: 180px;
  }
  .main-bottom {
    bottom: 30px;
  }
  .main-bottom img {
    width: 20px;
  }
  .search-box {
    padding: 5px 10px;
  }
  .search-box div {
    gap: 5px;
  }
}
