@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#root {
  min-height: 100vh;
  background-color: #222225;
  display: flex;
}

.loader-container {
  margin: auto;
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
}

.loader {
  height: auto;
  width: 600px;
}

@media (max-width: 768px) {
  .loader {
    width: 400px; /* Adjust size as needed */
  }
}

@media (max-width: 480px) {
  .loader {
    width: 220px; /* Adjust size as needed */
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(115, 115, 117);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

@keyframes fadeIn {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
